h2{
    font-family: sans-serif;
    color: rgb(23, 0, 174);
}

#para{
    display: flex;
    justify-content: center;
}

#RNC6, #RNC1, #RNC9, #BELAMI{
    margin-left: 30px;
    height: 400px;
    width: 300px;
    background-image: linear-gradient(180deg, white 70%, rgb(192, 200, 209));
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 10px 15px rgb(151, 151, 151);

}

#apo, #GARGANTUA{
    display: flex;
    justify-content: center;
}
#ZONE, #MAI, #LACHDUMALAIME, #BAUDELAIR, #LDCOQUE{
    margin-top: 30px;
    margin-left: 30px;
    height: 400px;
    width: 300px;
    background-image: linear-gradient(180deg, white 70%, rgb(192, 200, 209));
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 10px 15px rgb(151, 151, 151);

}




p{
    text-align: justify;
}

#RNC1:hover, #RNC6:hover, #RNC9:hover, #ZONE:hover, #MAI:hover, #LACHDUMALAIME:hover, #BAUDELAIR:hover, #BELAMI:hover, #LDCOQUE:hover, #CHP33CONS:hover, #CHP26FOUASS:hover, #CHP21SRBONNE:hover, #CHP21SRBONNE, #A1SC2:hover, #A2SC15:hover, #A3SC12:hover{
    background-image: linear-gradient(180deg, white 80%, rgb(192, 200, 209));
    box-shadow: 0px 10px 20px rgb(151, 151, 151);
}
#page{
    display: flex;
    justify-content: space-around;
}

#GARGANTUA, #MARIVAUX{
    display: flex;
    justify-content: center;
}

#CHP33CONS, #CHP26FOUASS, #CHP21SRBONNE, #A1SC2, #A2SC15, #A3SC12{
    margin-top: 30px;
    margin-left: 30px;
    height: 400px;
    width: 300px;
    background-image: linear-gradient(180deg, white 70%, rgb(192, 200, 209));
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 10px 15px rgb(151, 151, 151);
}

footer{
    height: 100px;
    text-align: center;
}

#TT{
    display: flex;
}

nav ul{
    display: flex;
    list-style-type: none;
}

li{
    margin-left: 50px;
}
